https://www.acmicpc.net/problem/1789

Concept. 알고리즘 기초 ✨

1,2,3.. 처럼 작은 수를 n에서 하나씩 빼가다가, n 이 음수값이 되면 n 범위를 초과한 것이므로 현재 res 값을 출력한다.

In [32]:
n = int(input())

200

In [34]:
res = 0
tmp = 1

In [35]:
while n >= 0 :
  n -= tmp

  if n >= 0 :
    tmp += 1
    res += 1
  else :
    print(res)
    break

19