https://www.acmicpc.net/problem/20055

Concept. simulation ✨

컨베이어 벨트를 굳이 2차원 리스트로 만들 필요가 없음

deque 를 이용해 한 라인으로 구현하고, deque 를 회전시킬 수 있는 rotate 함수를 사용하면 됨

In [1]:
from collections import deque

In [298]:
n, k = map(int, input().split())

5 8

In [331]:
board = deque(list(map(int, input().split())))

100 99 60 80 30 20 10 89 99 100

In [332]:
robot =deque([0]*(n*2))

In [333]:
def circulate(robot) :
  board.rotate(1)
  robot.rotate(1)
  robot[n-1] = 0
  return robot

In [334]:
def go_robot(robot) :

  # 로봇을 움직인다 
  for i in range(n-2, -1, -1) :
    if robot[i] == 1  and robot[i+1] == 0 and board[i+1] > 0 :
      robot[i] = 0
      robot[i+1] = 1
      board[i+1] -= 1

  robot[n-1] = 0

  return robot

In [335]:
def up_robot(robot) :
  # 올리는 위치에 로봇을 올린다
  if board[0] > 0 :
    robot[0] = 1
    board[0] -= 1

  return robot

In [336]:
res = 0

while 1 :
  if board.count(0) >= k:
    break

  robot = circulate(robot)
  robot = go_robot(robot)
  robot = up_robot(robot)
  res += 1

print(res)

472