https://www.acmicpc.net/problem/15989

Concept. Dynamic Programming ✨

리스트가 있을 때, 리스트의 원소 i 는 수 i 를 만들 수 있는 방법의 개수이다. 

1로 만들 수 있는 수의 개수 => 2 로 만들 수 있는 수의 개수 => 3 으로 만들 수 있는 수의 개수를 차례대로 체크해 나간다

In [40]:
n = int(input())

3

In [41]:
num = []

In [42]:
for _ in range(n) :
  num.append(int(input()))

4
7
10

In [62]:
# 1 로 모든 수를 만들 때
chk = [1] * ( max(num) + 1 )

In [63]:
# 2를 추가 사용해 수를 만들 때
for i in range(2, len(chk)) :
  chk[i] += chk[i-2]

In [64]:
# 3를 추가 사용해 수를 만들 때
for i in range(3, len(chk)) :
  chk[i] += chk[i-3]

In [66]:
for nm in num :
  print(chk[nm])

4
8
14