https://www.acmicpc.net/problem/5557 ✨

Concept. Dynamic Programming

2차원 배열 dp 를 생성한다.

dp[i][j] 라면 주어진 수들 중 i 번째까지의 수들을 사용할 때 j 값을 만들 수 있는 경우의 수를 의미한다

In [100]:
from collections import deque

In [199]:
n = int(input())

40

In [200]:
vals = list(map(int, input().split()))

1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1

In [201]:
res = vals.pop()

In [202]:
dp = [ [ 0 for i in range(21) ] for j in range(n-1)]

In [203]:
dp[0][vals[0]] = 1

In [204]:
dq = deque()

In [205]:
dq.append(vals[0])

In [206]:
for i in range(n-1) :
  for j in range(21) :
    if dp[i-1][j] != 0 :

      if 0 <= j + vals[i] <= 20 :
        dp[i][j + vals[i]] += dp[i-1][j] 

      if 0 <= j - vals[i] <= 20 :
        dp[i][j - vals[i]] += dp[i-1][j]

In [207]:
print(dp[-1][res])

7069052760

## DFS Backtracking - 시간초과

In [50]:
n = int(input())

40

In [51]:
vals = list(map(int, input().split()))

1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1

In [52]:
res = vals.pop()

In [53]:
dp = [0] * len(vals)

In [54]:
global cnt
cnt = 0

In [55]:
def dfs(x):
  if x == len(vals)-1 :
    global cnt
    if dp[-1] == res :
      cnt += 1
  else :
    val1 = dp[x] + vals[x+1]
    val2 = dp[x] - vals[x+1]
    tmp = dp[x+1]

    if 0 <= val1 <= 20 :
      dp[x+1] = val1
      dfs(x+1)
      dp[x+1] = tmp
    
    if 0 <= val2 <= 20 :
      dp[x+1] = val2
      dfs(x+1)
      dp[x+1] = tmp

In [56]:
dp[0] = vals[0]

In [ ]:
dfs(0)

In [ ]:
print(cnt)