https://www.acmicpc.net/problem/1743

Concept. BFS

In [337]:
from collections import deque

In [378]:
n, m, k = map(int, input().split())

3 4 5

In [399]:
board = [ [0 for _ in range(m) ] for _ in range(n) ]

In [400]:
for _ in range(k) :
  i, j  = map(int, input().split())
  board[i-1][j-1] = 1

3 2
2 2
3 1
1 1
2 3

In [401]:
dq = deque()

In [403]:
go_x = [1, -1, 0, 0]
go_y = [0, 0, 1, -1]

In [404]:
res = 0

In [405]:
for i in range(n) :
  for j in range(m) :
    if board[i][j] == 1:
      cnt = 0
      dq.append((i, j))

      while dq :
        pos = dq.popleft()
        x = pos[0]
        y = pos[1]
        res = max(res, cnt)

        for s in range(4) :
            new_x = x + go_x[s]
            new_y = y + go_y[s]

            if 0 <= new_x < n and 0 <= new_y < m and board[new_x][new_y] == 1:
              board[new_x][new_y] = 0
              cnt += 1
              dq.append((new_x, new_y))

      res = max(cnt, res)

In [406]:
print(res)

4