https://www.acmicpc.net/problem/2023

Concept. DFS

소수를 구할 때, **2부터 제곱근(판별대상) 까지의 수를 모두 나눠보며 0 인지 아닌지를 확인하는 방법**을 사용하면 효율적으로 소수 여부를 검사할 수 있다.

In [411]:
import math

In [325]:
n = int(input())

4

In [412]:
first_val = [2, 3, 5, 7]

In [413]:
res = []

In [414]:
val = [1, 3, 5, 7, 9]

In [404]:
def dfs(curr_s, cnt) :
  if len(curr_s) == n :
    res.append(curr_s)
    return

  else :
    for i in range(5) :
      tmp = curr_s + str(val[i])
      chk = False

      for j in range(2, int(math.sqrt(int(tmp))+1)) :
        if int(tmp) % j == 0 :
          chk = True
          break 
      
      if chk == False :
        dfs(tmp, cnt+1)

In [415]:
for i in range(4) : dfs(str(first_val[i]), 1)

In [418]:
for r in res : print(r)

2333
2339
2393
2399
2939
3119
3137
3733
3739
3793
3797
5939
7193
7331
7333
7393